#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 400px;
  margin: auto;
  border: solid black 4px;
  border-radius: 15px;
  background-color: #888;
}

.display {
  width: 80%;
  height: 50px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
}

.complete-operation {
  width: 80%;
  min-height: 30px;
  border: 1px solid #000;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  font-size: 0.8rem;
  overflow: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
}


/* .lista1,
.lista2,
.lista3,
.lista4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid black 4px;
  border-radius: 15px;
  background-color: #888;
}

.bb{
  width: 60px;
  background-color: black;
  color: white;
  border: solid 1px black;
  margin: 3px 3px;
}

.display{
  border: solid 3px black;
  border-radius: 15px;
  width: 260px;
  height: 39px;
  margin: 10px;
} */